@model CourseCategoryVM

<div class="modal fade" id="courseCategoryDetails" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h4>Course Details</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </dt>
                    <dd class="col-sm-7">
                        @Html.DisplayFor(model => model.CategoryName)
                    </dd>
                </dl>
                <br />
                <h4>Courses under this category</h4>
                @if (Model.Courses.Count() == 0)
                {
                    <div class="alert alert-danger" role="alert">
                        This Category does not have any courses
                    </div>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped" style="width:100%">
                            <thead style="background-color:#333130;">
                                <tr>
                                    <th style="color:white; align-content:center">Courses</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var course in Model.Courses)
                                {
                                    <tr>
                                        <td>@course.CourseName</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>