@model CoursesVM

<div class="modal fade" id="updateCourseModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Courses" asp-action="UpdateCourse">
                    <input asp-for="Id" type="hidden" />
                    <div class="mb-3">
                        <label style="color:black" class="col-form-label">
                            <strong>
                               @Html.DisplayNameFor(model => model.CourseCategoryId)
                            </strong>
                        </label>
                        <select asp-for="CourseCategoryId" class="form-select" asp-items="Model.CourseCategories">
                            <option disabled>--Select Course Category--</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label style="color:black" class="col-form-label">
                            <strong>
                               @Html.DisplayNameFor(model => model.CourseName)
                            </strong>
                        </label>
                        <input asp-for="CourseName" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" onclick="UpdateCourse()" class="btn btn-primary">Update Course</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>