<br />
<hr />
<div class="card text-center">
    <div class="card-header bg-success">
        <h3 style="color:white;">Admin Portal</h3>
    </div>
    <div class="card-body">
        <h4 class="card-title">Welcome to the Admin Portal for the Talent Management Application</h4>
        <br/>
        <p class="card-text">
            <ul style="text-align:left;">
                <li>This is a demo practice application that is designed to enroll certain employees from different departments into different courses and trainings they may need to upskill themselves</li>
                <li>The Admin Portal is designed for administrators to add employees, add different courses, enrol employees to those courses</li>
                <li>This is an ASP.NET Core MVC Application with .NET 6 and Entity Framework Development</li>
                <li>Connects to the database using Entity Framework Core with database first approach</li>
                <li>Find the Database Here: <a href="">TalentManagementDatabase</a></li>
                <li>Uses Non-generic repository and Unit of work pattern with Dependancy Injection</li>
                <li>View Models and AutoMapper</li>
                <li>Custom Cookie and Role-based Authentication</li>
                <li>Custom Admin Bootstrap Layout found here: <a href="https://www.wrappixel.com/templates/ample-admin-lite/">Admin Layout</a></li>
            </ul>
        </p>
    </div>
    <div class="card-footer text-muted bg-success">
        Created by Sakhile Mkize
    </div>
</div>
<br />
<hr />

