
<hr />
<div class="card text-center">
    <div class="card-header bg-success">
        <h3 style="color:white;">Admin Portal</h3>
    </div>
    <div class="card-body">
        <h4 class="card-title">Welcome to the Admin Portal for the Talent Management Application</h4>
        <br />
        <p class="card-text">
            <ul style="text-align:left;">
                <li>
                    This is a demo practice application designed for HR Administrators to enroll employees into various different courses they may need
                    in order to upskill themselves or if they want to learn anything new that may be beneficial for them
                </li>
                <li>This application contains: Course Management
                    <ul>
                        <li>Add Courses to the system</li>
                        <li>Upload Course content files</li>
                        <li>View Course details</li>
                        <li>Update Course Details</li>
                        <li>Download Courses to excel</li>
                        <li>Remove courses</li>
                    </ul>
                </li>
                <li>This application contains: Employee Management
                    <ul>
                        <li>Add Employees to the system</li>
                        <li>Upload Employee Files</li>
                        <li>View Employee details</li>
                        <li>Update Employee Details</li>
                        <li>Download Employees to excel</li>
                        <li>Remove Employees</li>
                    </ul>
                </li>
                <li>Connects to the database using Entity Framework Core with database first approach</li>
                <li>Uses Non-generic repository and Unit of work pattern with Dependancy Injection</li>
                <li>View Models and AutoMapper</li>
                <li>Custom Admin Bootstrap Layout found here: <a href="https://www.wrappixel.com/templates/ample-admin-lite/">Admin Layout</a></li>
            </ul>
        </p>
    </div>
    <div class="card-footer text-muted bg-success">
        <h6 style="color:white;">Created by Sakhile Mkize</h6>
    </div>
</div>
<hr />
